@charset "UTF-8";

body {
    background-image: radial-gradient(rgb(0, 0, 65) 0.01%, rgb(0, 0, 44)95%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    margin: 0px;
}

header {
    background-color: none;
    padding: 40px 0px 40px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

header > nav > a {
    padding: 10px;
    margin-right: 20px;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(182, 182, 182);
    border-radius: 10px;
}

header > nav > a:hover {
    background-color: rgba(0, 0, 201, 0.103);
    color: rgba(34, 34, 255, 0.678);
    transition: 0.2s ease;
}

.sitemain {
    margin: 220px 0px 0px 100px;
    font-family: sans-serif;
}

.sitemain > div {
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.103);
    max-width: 600px;
    max-height: 320px;
    padding: 70px 70px 70px 40px;
}

.sitemain > div:hover {
    background-color: rgba(0, 0, 0, 0.185);
}

.sitemain > div > h1 {
    font-size: 5em;
    margin: 0px 0px 30px 0px;
    text-shadow: 2px 1px 3px black;
}

.sitemain > div > p {
    text-indent: 30px;
    max-width: 580px;
    text-align: left;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0px;
}

.projeto {
    text-align: center;
}

.box {
    min-width: 400px;
    min-height: 700px;
    border-radius: 10px;
    background-color: rgba(0, 0, 58, 0.329);
    margin: 60px;
    color: white;
    display: inline-block;
}

.box:hover {
    background-color: rgba(0, 0, 92, 0.329);
    transition: 0.3s ease;
}
